<!DOCTYPE html>
<head>

    <!-- pride.codes corner only on index.html files -->
    <script type="text/javascript" src="https://cdn.pride.codes/js/codecorner.js"></script>

    <meta charset="utf-8">
    <title>Title</title>
    <link rel="icon" href="https://phoebe-leong.github.io/favicon.png">
    <link rel="stylesheet" href="style.css"> <!-- Would be HTTPS link in actual external repos obviously-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<html>
    <body>
        <main>
            <h1>Header</h1>
            <p>Short, two or one paragraph description</p>
            <br><br>
            <!-- Link that gives user more information about page content -->
            <a href="https://link.example.com">
                <button>
                    Link
                </button>
            </a>
        </main>
        <footer>
            <!-- Link 'PH03be' to my GitHub page -->
            <p id="footer">
                Copyright &copy; <a href="https://github.com/phoebe-leong" target="_blank">PH03be</a>
            </p>
        </footer>        
    </body>
</html>